{
    "mongo_db": {
        "url": "mongodb://localhost:27017/gfl"
    },
    "server": {
        "url": "http://localhost",
        "port": 3000,
        "version": "1"
    },
    "jwt": {
        "key": "secret"
    },
    "developer": {
        "key": "secret"
    }
}