{
    "MONGO_DB": {
        "URL": "mongodb://localhost:27017/gfl"
    },
    "SERVER": {
        "URL": "http://localhost",
        "PORT": 3000,
        "VERSION": "1"
    },
    "JWT": {
        "KEY": "secret"
    }
}